body {background-image: url(http://media.giphy.com/media/3oEdv7SwR8cR1rz4C4/giphy.gif);}
	{background-size: cover;}
}
body{
	font-family: 'Oswald', sans-serif;

}
section{
	color: white;
}

h1 {
	color: purple;
	font-size: 100px;
}

p {
	color: purple;

}